@font-face {
   font-family: murrayStateFont;
   src: url(FreightTextBold.otf);
}
.button {
	padding: 30px 20px;
	margin: 50px;
	font-family: murrayStateFont;
	font-size: 22px;
	color: white;
	background-color: #000080;
	border-radius: 10px;
	border-color: white;
}
.wrapper {
    text-align: center;
}
body{
	background: top / cover no-repeat url('HomePageGradient.png');

}
html{
	height: 100%;
}
#title{
	font-family: murrayStateFont;
	font-size: 64px;
	color: #000080;
}
#description{
	font-family: murrayStateFont;
	font-size: 24px;
	color: #000080;
}
#footer{
	background-color:#000080;
	height: 80px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}
#footer-text{
	position:absolute; 
	left:80px;
	top: 10px;
	color:white;
}

form.searchBar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.searchBar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #000080;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchBar button:hover {
  background: #0033cc;
}

form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

a {
    text-decoration: none !important;
}